.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  margin-bottom: 1rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.content {
  flex: 1 1 100%;
  max-width: 100%;
}

.image {
  flex: 1;
  position: relative;
  height: 300px;
}
