.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
  letter-spacing: 0.1rem;
}

.subtitle {
  font-size: 1.25rem;
  color: var(--text-color-secondary);
}

.section {
  margin: 2rem 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  list-style: none;
}

.listItem {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
