.wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--primary-background-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  max-width: 1280px;
  margin: auto;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.navLinkWrapper {
  display: none;
  list-style: none;
}

@media (min-width: 768px) {
  .navLinkWrapper {
    display: flex;
  }
}
