.wrapper {
  height: 100%;
  display: inline-flex;
  gap: 10px;
}

.input {
  display: none;
}

.darkInput {
  composes: input;
}

.systemInput {
  composes: input;
}

.lightInput {
  composes: input;
}

.label {
  background-color: #3b82f6;
  border-radius: 50%;
  height: 100%;
  width: 30px;
}

.input:checked + .label {
  background-color: #8b5cf6;
}

.darkLabel {
  composes: label;
}

.systemLabel {
  composes: label;
}

.lightLabel {
  composes: label;
}
