.wrapper {
  position: relative;
  width: 40px;
  height: 30px;
}

.hiddenCheckbox {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
}

.bar {
  transform-origin: center center;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.topBar {
  composes: bar;
  top: 0;
}
.hiddenCheckbox:checked ~ .topBar {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.middleBar {
  composes: bar;
  top: 50%;
  transform: translateY(-50%);
}

.hiddenCheckbox:checked ~ .middleBar {
  opacity: 0;
  transform: rotate(-45deg);
}

.bottomBar {
  composes: bar;
  bottom: 0;
}

.hiddenCheckbox:checked ~ & {
  bottom: 50%;
  transform: rotate(-45deg) translateY(50%);
}

.mobileLinkWrapper {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 10vh 0;
  background-color: var(--primary-background-color);
  list-style: none;
  transition: all 0.3s ease-in-out;
  transform: translateY(-100%);
}
.hiddenCheckbox:checked ~ .mobileLinkWrapper {
  transform: translateY(0);
}

@media (min-width: 768px) {
  .wrapper {
    display: none;
  }
}
